@model LessonViewModel

<div class="p-2 col-sm-12 col-md-6 col-lg-4" id="lesson-@Model.Id">
    <div class="card">
        <div class="card-header">
            <div class="text-center">@Model.Name</div>
        </div>

        <div class="card-img-top youtube-video">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe style="width: 100%; height: 100%"
                        src="@Model.VideoLink"
                        frameborder="0"></iframe>
            </div>
        </div>

        <div class="card-footer p-0">
            @{ var watchedClass = Model.IsWatched ? "btn-warning" : "btn-success"; }
            @if (Model.IsWatched)
            {
                @Html.ActionLink("I didn't finished this lesson", "markWatched", new { id = Model.Id, isWatched = false }, new { @class = "btn btn-warning rounded-0 w-100 " })
            }
            else
            {
                @Html.ActionLink("I finished this lesson", "markWatched", new { id = Model.Id, isWatched = true }, new { @class = "btn btn-success rounded-0 w-100" })
            }
        </div>
    </div>
</div>
