<div id="header" class="text-white">
    <div class="bg-img bg-paralax overlay"></div>
    <div class="header-container">
        <div class="container text-center">
            <a class="btn btn-transparent" href="#get-started">Sign in</a>
            <h5 class="or">Or</h5>
            <a class="btn btn-transparent" href="#get-started">Register</a>
        </div>
    </div>
</div>
